*{
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

#map {
  height: 100%;
}

header{
  width: 100vw;
  height: 200px;
  border-bottom: solid 1px black;
  background-image: url("https://www.brampton.ca/EN/City-Hall/News/PublishingImages/Banner.jpg");
  display: inline-block;
}

header img{
  height: 200px;
  padding-left: 30%;
  padding-top: 5px;
  float: left;
}

header p{
  font-size: 100px;
  text-align: left;
  color: white;
  padding-top: 50px;
}

.video-container{
  position:relative;
  padding-bottom:100%;
  padding: top 30px;
  height:0;
  overflow:hidden;
}

.video-container iframe{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.grid {
  display: inline-grid;
  width: 100%;
  grid-template-columns: auto auto auto;
  grid-template-rows: 40px;
}

.grid2 {
  display: inline-grid;
  width: 100%;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 200px;
}

.grid-item {
  background-color: black;
  border: 2px solid white;
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
}

.grid-item-2 {
  background-color: black;
  color: white;
  border: 2px solid white;
  height: 350px;
}

a {
  color: white;
  text-decoration: none; 
}

a:hover {
  text-decoration: underline;
}

img {
  pointer-events: none,
}

.desc {
  padding: 15px;
  text-align: center;
}

.about-image {
  padding-left: 15%;
  height: 250px;
}

.About{
  font-size: 17px;
  padding-top: 50px;
  padding-left: 15%;
  padding-bottom: 50px;
  background-image: url("https://www.azocleantech.com/images/news/ImageForNews_29061_16159134791065461.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

fieldset {
  width: 80%;
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}

#selection{
  background-color: white;
  position: absolute;
  border-radius: 15px;
  bottom: -200px;
  display: inline-block;
  left: 10px;
  padding-left: 8px;
  padding-top: 3px;
  padding-right: 3px;
}

#panel {
  background-color: white;
  position:absolute;
  top: 250px;
  right: 10px;
  height: 25%;
  width: 22%;
  padding-left: 3px;
  padding-top: 3px;
  padding-right: 3px;
  text-align: center;
  border-radius: 10px;
}